
<web-app version= "3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>bankServlet</servlet-name>
  	<display-name>bankServlet</display-name>
  	<description></description>
  	<servlet-class>com.AndresBank.controllers.bankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bankServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
